main {
  /* width: 100vw; */
  height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: grid;
  /* 实现垂直水平居中 */
  /* place-items: center; */
  /* 等价于 */
  align-items: center;
  justify-items: center;
  /* place-content: center; */
  /* align-content: center;
  justify-content: center; */
}

.counter {
  text-align: center;
}

.counter-heading {
  font-size: 48px;
}

.counter-number {
  font-size: 96px;
  font-weight: 700;
  margin-bottom: 20px;
}

.counter-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.btn {
  display: block;
  padding: 5px 10px;
  font-size: 16px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  border: 2px solid var(--clr-black);
  border-radius: 5px;
  color: var(--clr-grey-1);
  background-color: var(--clr-grey-10);
  cursor: pointer;
  transition: var(--transition);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: var(--clr-white);
  background-color: var(--clr-grey-1);
}
